<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="1.14.0" targetFramework="net4" />
  <package id="Bridge.Min" version="1.14.0" targetFramework="net4" />
  <package id="Bridge.Testing" version="1.0.0" targetFramework="net4" />
  <package id="Chutzpah" version="4.0.1" />
</packages>